

#table {
    width: 816px;
    height: 808px;
    display: flex;
    flex-flow: row wrap;
    border: 10px brown solid;
}

#table div {
    width: 100px;
    height: 100px;
    font-size: 70px;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
}

.white-zone {
    background-color: white;
}

.black-zone {
    background-color: gray;
}